---
import { createGridPath } from '@shared/svg/svg'

interface Props {
  customClass?: string;
  random?: boolean;
  reactive?: boolean;
}

const { customClass, random = false, reactive = false } = Astro.props;
const gridPath = createGridPath(23);
---

<svg-skeleton
  class={`svg-skeleton-wrapper w-full aspect-square rounded relative ${customClass}`}
  data-random={random}
  data-reactive={reactive}
>
  <label class="block w-full h-full absolute inset-0 cursor-pointer pointer-events-auto">
    <span class="sr-only">Toggle icon skeleton mode</span>
    <input type="checkbox" class="sr-only peer"/>
    <div class="render-zone w-full h-full relative transition-opacity duration-300 peer-checked:opacity-0 pointer-events-none"></div>
    <div class="source-slot w-full h-full stroke-1 absolute inset-0 text-slate-900 *:opacity-10 *:transition-opacity duration-300 peer-checked:*:opacity-100 *:w-full *:h-full icon-customize" aria-hidden="true">
      <slot />
    </div>
    <svg class="svg-skeleton-bg w-full h-full stroke-1 absolute inset-0 text-slate-500/10 pointer-events-none" viewBox="0 0 240 240" fill="none" stroke="currentColor" stroke-width="1">
      <path d={gridPath}/>
    </svg>
  </label>
</svg-skeleton>

<script>
  import './iconSkeleton.js'
</script>
