---
const navLinks = [
  { name: 'License', href: 'https://github.com/zkreations/meteoricons/blob/main/LICENSE' },
  { name: 'Issues', href: 'https://github.com/zkreations/meteoricons/issues' },
  { name: 'GitHub', href: 'https://github.com/zkreations/meteoricons' }
]
---

<footer class="border-t border-slate-200/80 mt-10">
  <div class="mx-auto flex items-center justify-center gap-4 py-6 wrapper">
    {navLinks.map(({ name, href }) => (
      <a href={href} target="_blank" rel="noreferrer" class="text-slate-500 transition hover:text-slate-900">{name}</a>
    ))}
  </div>
</footer>
