---
import { Astro as AstroIcon, Solidjs, Preact, Vuejs, React, Svelte, Hamlet } from '@meteor-icons/astro'
import IconSkeleton from '@features/icon-skeleton/IconSkeleton.astro';

const heroTitle = 'Meteor Icons'
const heroDescription = 'Meteor is an open-source icon set, designed at code level through intelligent reasoning that surpasses automated optimization, ensuring clean and lightweight code.'
---

<section class="pt-10 md:pt-18 wrapper">
  <div class="flex justify-between lg:flex-row flex-col items-center gap-10">
    <div class="flex flex-col lg:text-left text-center">
      <h1 class="text-2xl sm:text-3xl md:text-5xl font-semibold tracking-tight text-slate-900">{heroTitle}</h1>
      <p class="mt-4 leading-7 text-slate-600 md:text-lg text-balance">
        {heroDescription}
      </p>
      <div class="mt-6 flex gap-4 flex-wrap justify-center lg:justify-start *:text-slate-500 *:hover:text-brand-active *:transition-colors *:duration-200">
        <a href="https://www.npmjs.com/package/@meteor-icons/astro" title="Astro Package"  target="_blank" rel="noopener noreferrer"><AstroIcon size={32} strokeWidth={1} /></a>
        <a href="https://www.npmjs.com/package/@meteor-icons/solid" title="SolidJS Package" target="_blank" rel="noopener noreferrer"><Solidjs size={32} strokeWidth={1} /></a>
        <a href="https://www.npmjs.com/package/@meteor-icons/preact" title="Preact Package" target="_blank" rel="noopener noreferrer"><Preact size={32} strokeWidth={1} /></a>
        <a href="https://www.npmjs.com/package/@meteor-icons/react" title="React Package" target="_blank" rel="noopener noreferrer"><React size={32} strokeWidth={1} /></a>
        <a href="https://www.npmjs.com/package/@meteor-icons/svelte" title="Svelte Package" target="_blank" rel="noopener noreferrer"><Svelte size={32} strokeWidth={1} /></a>
        <a href="https://www.npmjs.com/package/@meteor-icons/vue" title="Vue.js Package" target="_blank" rel="noopener noreferrer"><Vuejs size={32} strokeWidth={1} /></a>
        <a href="https://www.npmjs.com/package/@meteor-icons/hamlet" title="Hamlet Package" target="_blank" rel="noopener noreferrer"><Hamlet size={32} strokeWidth={1} /></a>
      </div>
    </div>
    <IconSkeleton customClass="max-w-sm flex-shrink-0" random reactive />
  </div>
</section>
