---
import { Astro as AstroIcon, Solidjs, Preact, Vuejs, React, Svelte, Hamlet } from '@meteor-icons/astro'
import IconSkeleton from '@features/icon-skeleton/IconSkeleton.astro';

const heroTitle = 'Meteor Icons'
const heroDescription = 'Meteor is an open-source icon set, designed at code level through intelligent reasoning that surpasses automated optimization, ensuring clean and lightweight code.'

const frameworks = [
  ['Astro', 'astro', AstroIcon],
  ['SolidJS', 'solid', Solidjs],
  ['Preact', 'preact', Preact],
  ['React', 'react', React],
  ['Svelte', 'svelte', Svelte],
  ['Vue.js', 'vue', Vuejs],
  ['Hamlet', 'hamlet', Hamlet],
];
---

<section class="pt-10 md:pt-18 wrapper">
  <div class="flex justify-between lg:flex-row flex-col items-center gap-10">
    <div class="flex flex-col lg:text-left text-center">
      <h1 class="text-2xl sm:text-3xl md:text-5xl font-semibold tracking-tight text-on-surface">{heroTitle}</h1>
      <p class="mt-4 leading-7 md:text-lg text-balance">
        {heroDescription}
      </p>
      <div class="mt-6 flex gap-4 flex-wrap justify-center lg:justify-start *:hover:text-brand-active *:transition-colors">
        {frameworks.map(([name, pkg, Icon]) => (
          <a
            href={`https://www.npmjs.com/package/@meteor-icons/${pkg}`}
            title={`${name} Package`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon minimal class="w-8 h-8 stroke-1" />
          </a>
        ))}
      </div>
    </div>
    <IconSkeleton customClass="max-w-sm flex-shrink-0" random reactive />
  </div>
</section>
