---
import { Search, AngleDown, SlidersSimple } from '@meteor-icons/astro'

interface Props {
  total: number
}

const { total } = Astro.props
const btnClasses = 'flex gap-1 justify-between items-center px-3 h-12 text-slate-700 bg-slate-100 hover:bg-slate-200 transition-colors duration-300 cursor-pointer rounded-md whitespace-nowrap'
---

<div class="z-10 flex gap-4 items-center p-3 mb-4 bg-white border border-slate-200 shadow-lg transition duration-300 focus-within:border-teal-500 focus-within:ring-4 ring-teal-500/10 rounded-lg sticky top-4">
  <!-- dropdown of Settings -->
  <div class="relative select-none">
    <button class=`${btnClasses} w-40`>
      All icons
      <AngleDown size={20} />
    </button>
  </div>
  <input
    id="icon-search"
    type="search"
    placeholder={`Search ${total} icons`}
    class="w-full text-slate-700 outline-none bg-transparent"
    aria-label="Search icons"
    autocomplete="off"
    spellcheck="false"
  />
  <span class="pointer-events-none text-slate-400">
    <Search />
  </span>
  <div class="relative select-none bg-slate-100 rounded-md flex h-12">
    <button class={btnClasses}>
      <SlidersSimple size={20} />
    </button>
</div>
