---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'
import { Download, Image, Copy } from '@meteor-icons/astro'

interface Props {
  name: string
  IconComponent: AstroComponentFactory
}

const { name, IconComponent } = Astro.props
---

<article
  data-name={name}
  class="icon-card group"
>
  <div class="icon-preview">
    <IconComponent size={24} class="svg-preview" />
    <p class="icon-text">{name}</p>
  </div>
  <div class="icon-actions">
    <button type="button" class="btn icon-action action-copy-svg" title="Copy SVG">
      <Copy size={16} />
    </button>
    <button type="button" class="btn icon-action action-download-png" title="Download PNG">
      <Image size={16} />
    </button>
    <button type="button" class="btn icon-action action-download-svg" title="Download SVG">
      <Download size={16} />
    </button>
  </div>
</article>
