---
import * as MeteorIcons from '@meteor-icons/astro'
import { getCollection } from 'astro:content'
import { getIconList } from './iconList'
import { capitalize } from '@shared/stringCase'
import IconFilters from './IconFilters.astro'
import IconCard from './IconCard.astro'
import IconModal from '../icon-modal/IconModal.astro'

const icons = getIconList(MeteorIcons)
const entries = await getCollection('icons')

const categoryMap = new Map(
  entries.map((entry) => [
    entry.data.name,
    entry.data.categories ?? []
  ])
)

const groupedIcons = new Map<string, typeof icons>()

icons.forEach((icon) => {
  const categories = categoryMap.get(icon.name) ?? ['uncategorized']

  categories.forEach((category) => {
    if (!groupedIcons.has(category)) {
      groupedIcons.set(category, []
      )
    }

    groupedIcons.get(category)?.push(icon)
  })
})

const sortedGroups = Array.from(groupedIcons.entries()).sort(([a], [b]) =>
  a.localeCompare(b)
)
---

<main class="py-10 wrapper">
  <div class="flex flex-col gap-8" data-icon-grid>
    <IconFilters total={icons.length} />
    {sortedGroups.map(([category, items]) => (
      <section data-section={category}>
        <h2 class="mb-4 text-xl text-slate-800 font-semibold">
          {capitalize(category)} <span data-section-count class="text-base font-normal font-mono text-slate-600">[{items.length}]</span>
        </h2>

        <div class="section-content">

          {items.map((icon) => (
            <IconCard {...icon} />
          ))}

        </div>
      </section>
    ))}

    <p data-icon-empty class="hidden py-10 text-center text-slate-500">
      No icons found with your filters.
    </p>

    <IconModal />
  </div>
</main>

<script>
  import { initDropdown } from '@shared/ui/dropdown'
  import { initIconGrid } from './iconGrid'
  import { initLazyLoadIcons } from './lazyLoadIcons'

  const root = document.querySelector('[data-icon-grid]')

  function initIconGridPage() {
    if (!(root instanceof HTMLElement)) return

    initIconGrid(root)
    initLazyLoadIcons(root)

    const buttons = root.querySelectorAll('[data-outside]')
    const activeClass = 'dropdown-visible'

    buttons.forEach((button) => {
      if (button instanceof HTMLElement) {
        initDropdown(button, activeClass, root)
      }
    })
  }

  initIconGridPage()
</script>
